[submodule ".vim/pack/mypackage/start/mru"]
	path = .vim/pack/mypackage/start/mru
	url = https://github.com/yegappan/mru
[submodule ".vim/pack/mypackage/opt/julia-vim"]
	path = .vim/pack/mypackage/opt/julia-vim
	url = https://github.com/JuliaEditorSupport/julia-vim
[submodule ".vim/pack/mypackage/opt/julia.vim"]
	path = .vim/pack/mypackage/opt/julia.vim
	url = https://github.com/AtsushiSakai/julia.vim
[submodule ".vim/pack/mypackage/start/nerdcommenter"]
	path = .vim/pack/mypackage/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
